a {
    text-decoration: none;
}

td,
th {
    text-align: center;
}

body {
    padding-bottom: 20px;
    position: relative;
}

.header,
.footer,
.Form {
    border: solid black 1px;
}

.header {
    padding: 10px;
    margin: 15px 5px;
    text-align: center;
}

.header a {
    color: black;
}

.active {
    font-weight: bold;
}

.content {
    margin: 80px;
}

.inpuet_customm {
    margin: 10px;
    text-align: center;
}

.Form {
    margin: auto;
    padding: 30px;
    width: 500px;
}

.btnConfirm {
    margin-top: 40px;
    text-align: right;
}

.btnSubmit {
    margin: 0 20px;
    padding: 10px 14px;
    color: white;
    background-color: #0058D7;
    border-radius: 5px;
    border: none;
}


.view {
    padding: 10px;
}

.view td:last-child {
    text-align: left;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10px;
}


.is-invalid {
    border-color: red;
}

.text-danger {
    color: red;
    font-size: small;
    text-align: center;
}